    .bracelets-div img {
        width: 20%;
    }
    
    .bracelets-div {
        width: 90%;
        margin: 150px auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    .bracelets-info {
        width: 100%;
        background-image: url(https://www.chaumet.com/media/catalog/category/cover-desktop-bracelet-V2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 430px;
        text-align: center;
    }
    
    .bracelets-info h2 {
        font-size: 35px;
        font-weight: normal;
        letter-spacing: 3px;
        padding: 150px;
        color: white;
    }
    
    .bracelet-inner-div {
        width: 23%;
        margin: 1%;
        text-align: center;
    }
    
    .bracelet-inner-div:hover {
        box-shadow: -1px 2px 15px 1px rgb(194, 132, 142);
    }
    
    .bracelet-inner-div img {
        width: 100%;
    }
    
    .bracelet-inner-div h3 {
        font-size: 18px;
        margin-top: 20px;
    }