* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: regular;
    scroll-behavior: smooth;
    outline: none !important;
}

@font-face {
    font-family: regular;
    src: url(LibreBaskerville-Regular.ttf);
}